body, html {font-size: 15px;color: #000000; margin: 0; padding: 0; border: 0; font-family: Calibri, sans-serif; padding-bottom: 25px; background: #C7C7C7; text-align:left}
#content{ width: 650px; margin: 50px auto 0 auto; padding: 0 20px 20px 20px; background: white; border:1px solid black}
h1{margin:0 0 0 0;color:#FFF;font-size:x-large;font-weight:bold;background:#D14D40;padding:15px 0 15px 0; margin:0 -20px 0 -20px; text-transform:uppercase;letter-spacing: .2em; text-align:center}
li{margin:5px}
a:link, a:visited { text-decoration: underline; color: #D14D40; border: 1px none; padding: 0 2px 0 2px; font-weight: bold; }
a:hover{ color: blue; font-weight: bold; }
hr {background:white; color:white; border-top:1px solid #C7C7C7}