a.ico_error{background:transparent url('../../img/ico/ico_error.png') no-repeat center left;}
a.ico_help{background:transparent url('../../img/ico/ico_help.png') no-repeat center left;}
a.ico_info{background:transparent url('../../img/ico/ico_help.png') no-repeat center left;}
a.ico_mail{background:transparent url('../../img/ico/ico_mail.png') no-repeat center left;}
a.ico_phone{background:transparent url('../../img/ico/ico_phone.png') no-repeat center left;}
a.ico_phone_htc{background:transparent url('../../img/ico/ico_phone_htc.png') no-repeat center left;}
a.ico_rss{background:transparent url('../../img/ico/ico_rss.png') no-repeat center left;}
a.ico_skype{background:transparent url('../../img/ico/ico_skype.png') no-repeat center left;}
a.ico_tick{background:transparent url('../../img/ico/ico_tick.png') no-repeat center left;}
a.ico_twitter{background:transparent url('../../img/ico/ico_twitter.png') no-repeat center left;}
a.ico_vcard{background:transparent url('../../img/ico/ico_vcard.png') no-repeat center left;}
a.ico_out{padding: 5px 20px 5px 0; background: transparent url('../../img/ico/ico_external.png') no-repeat center right;}