a[href$='.ai']{background:transparent url('../../img/ico/file_types/ai.png') no-repeat center left;}
a[href$='.avi']{background:transparent url('../../img/ico/file_types/avi.png') no-repeat center left;}
a[href$='.bmp']{background:transparent url('../../img/ico/file_types/bmp.png') no-repeat center left;}
a[href$='.css']{background:transparent url('../../img/ico/file_types/css.png') no-repeat center left;}
a[href$='.doc']{background:transparent url('../../img/ico/file_types/doc.png') no-repeat center left;}
a[href$='.docx']{background:transparent url('../../img/ico/file_types/docx.png') no-repeat center left;}
a[href$='.dvd'],a.dvd{background:transparent url('../../img/ico/file_types/dvd.png') no-repeat center left;}
a[href$='.dwg']{background:transparent url('../../img/ico/file_types/dwg.png') no-repeat center left;}
a[href$='.gif']{background:transparent url('../../img/ico/file_types/gif.png') no-repeat center left;}
a[href$='.hlp']{background:transparent url('../../img/ico/file_types/hlp.png') no-repeat center left;}
a[href$='.inf']{background:transparent url('../../img/ico/file_types/inf.png') no-repeat center left;}
a[href$='.iso']{background:transparent url('../../img/ico/file_types/iso.png') no-repeat center left;}
a[href$='.isp'],a.isp{background:transparent url('../../img/ico/file_types/isp.png') no-repeat center left;}
a[href$='.jpeg']{background:transparent url('../../img/ico/file_types/jpeg.png') no-repeat center left;}
a[href$='.jpg']{background:transparent url('../../img/ico/file_types/jpg.png') no-repeat center left;}
a[href$='.mov']{background:transparent url('../../img/ico/file_types/mov.png') no-repeat center left;}
a[href$='.movie']{background:transparent url('../../img/ico/file_types/movie.png') no-repeat center left;}
a[href$='.mp3']{background:transparent url('../../img/ico/file_types/mp3.png') no-repeat center left;}
a[href$='.mp4']{background:transparent url('../../img/ico/file_types/mp4.png') no-repeat center left;}
a[href$='.mpeg']{background:transparent url('../../img/ico/file_types/mpeg.png') no-repeat center left;}
a[href$='.mpg']{background:transparent url('../../img/ico/file_types/mpg.png') no-repeat center left;}
a[href$='.pdf']{background:transparent url('../../img/ico/file_types/pdf.png') no-repeat center left;}
a[href$='.php']{background:transparent url('../../img/ico/file_types/php.png') no-repeat center left;}
a[href$='.png']{background:transparent url('../../img/ico/file_types/png.png') no-repeat center left;}
a[href$='.ppt']{background:transparent url('../../img/ico/file_types/ppt.png') no-repeat center left;}
a[href$='.pptx']{background:transparent url('../../img/ico/file_types/pptx.png') no-repeat center left;}
a[href$='.psd']{background:transparent url('../../img/ico/file_types/psd.png') no-repeat center left;}
a[href$='.rar']{background:transparent url('../../img/ico/file_types/rar.png') no-repeat center left;}
a[href$='.reg']{background:transparent url('../../img/ico/file_types/reg.png') no-repeat center left;}
a[href$='.rtf']{background:transparent url('../../img/ico/file_types/rtf.png') no-repeat center left;}
a[href$='.tif']{background:transparent url('../../img/ico/file_types/tif.png') no-repeat center left;}
a[href$='.tiff']{background:transparent url('../../img/ico/file_types/tiff.png') no-repeat center left;}
a[href$='.txt']{background:transparent url('../../img/ico/file_types/txt.png') no-repeat center left;}
a[href$='.url']{background:transparent url('../../img/ico/file_types/url.png') no-repeat center left;}
a[href$='.vcr']{background:transparent url('../../img/ico/file_types/vcr.png') no-repeat center left;}
a[href$='.wav']{background:transparent url('../../img/ico/file_types/wav.png') no-repeat center left;}
a[href$='.wma']{background:transparent url('../../img/ico/file_types/wma.png') no-repeat center left;}
a[href$='.wmv']{background:transparent url('../../img/ico/file_types/wmv.png') no-repeat center left;}
a[href$='.xls']{background:transparent url('../../img/ico/file_types/xls.png') no-repeat center left;}
a[href$='.xlsx']{background:transparent url('../../img/ico/file_types/xlsx.png') no-repeat center left;}
a[href$='.xml']{background:transparent url('../../img/ico/file_types/xml.png') no-repeat center left;}
a[href$='.xsl']{background:transparent url('../../img/ico/file_types/xsl.png') no-repeat center left;}
a[href$='.zip']{background:transparent url('../../img/ico/file_types/zip.png') no-repeat center left;}