<div class="control-group<% if @material.errors.messages[:"url_assets.url"] %> error<% end %>">
  <%= f.label :url %>
  <div class="controls">
      <%= f.text_field :url, :class => "material_url_assets_urls", :size => 255 %>
      <% if @material.errors.messages[:"url_assets.url"] %>
      <% @material.errors.messages[:"url_assets.url"].each do |msg| %>
        <span class="help-inline"><%= msg %></span><br>            
      <% end %>
      <% end %>
  </div>
</div>
