<% @social = false %>
<style>
.ui-menu .ui-menu-item a {
    padding-left:10px;
}                
.ui-autocomplete-category {
	font-weight: bold;
	padding: .2em .4em;
	margin: .8em 0 .2em;
	line-height: 1.5;
}
</style>

<div id="posp_add" style="padding:20px;">
    
<script>
$(function() {
	$( "#oblast input" ).autocomplete({
		delay: 0,
		minLength: 2,
		source: "/"
	});
});
</script>


<h2>Dokumenty</h2>
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Fotky</a></li>
		<li><a href="#tabs-3">Článek na internetu</a></li>
		<li><a href="#tabs-2">Video</a></li>
		
	</ul>
	<div id="tabs-1">	
        <p>
            <label for="">Fotka</label>
            <input class="text" type="file" name="" id="" />
        </p>
        <p>
            <label for="">Fotka</label>
            <input class="text" type="file" name="" id="" />
        </p>
        <p>
            <a href="">Chci přidat více fotek</a>
        </p>
    </div>
	<div id="tabs-3">
        <p>
            <label for="">Odkaz na článek</label>
            <input class="text" type="text" name="" id="" value="" />
        </p>
	</div>
	<div id="tabs-2">
        <p>
            <label for="">Odkaz na video</label>
            <input class="text" type="text" name="" id="" value="" />          
        </p>
	</div>
	
</div>
 
<script>
  $(function () {
    $( "#tabs" ).tabs();
  })
</script>


<h2>Popis dokumentů</h2>


<%= render "form" %>


</div>

        
<script>
    $("#addStrana").click(function() {
        $(this).parent().find("span").show();
        $(this).remove();
        return false;
    });
</script>

