<% @subpage = true %>
<h1>Stránka nebyla nalezena</h1>
<p class="error">Omlouváme se, ale stránka nebyla nalezena (nastala chyba 404).</p>

<h2>Pravděpodobně nastala jedna z těchto situací:</h2>
<ul>
  <li>do prohlížeče bylo zadáno špatné URL</li>
  <li>přicházíte z vyhledávače, který má v databázi již neexistující stránku</li>
  <li>máme na webu špatný odkaz</li>
</ul>

<h2>Kam dál?</h2>
<p>Zkuste <a href="<%= root_path %>">úvodní stránku webu</a>.</p>
<p>Děkujeme za pochopení a omlouváme se za způsobené nepříjemnosti (tato chyba byla zaznamenána a budeme se ji snažit co nejdříve opravit).</p> 
